:root {
    --main-color: #d92123;
    --primary-text-color: #fff;
    --secondary-text-color: #191919;
    --secondary-color: #868686;
    --tertiary-color: #eff3f4;
    --secondary-bg-color: #5c1011;

}


* {                          /* reset para zerar as propriedades das paginas html */    
    font-family: "Lato";
    padding: 0;
    margin: 0;
    box-sizing: border-box;    /**/   /* borda da caixa */    
}

a {
    text-decoration: none;
}

img {
    width: 100%;

}

/* id */
#header{
    /* tamanho 90% do espaço */
    min-height: 90vh;
    background-image: url("../images/main_banner4.png");
    background-size: cover;
    background-position: center;
    color: var(--primary-text-color);
    /* REM e  EM  são 16pixel, o em sozinho = tamanho da fonte tag pai,  rem é r de root, ref a tag body */
    margin-bottom: 2rem;   

}

 
 #inner-header{
    /* padrão linha */
    display: flex;
    /* alinhamento é horizontal, eixo x */
    justify-content: space-between;
    /* alinhamento vertical eixo y */
    align-items: center;
 }

 #brand{
    background-color: var(--main-color);
    padding: 1rem;
 }

 #navbar{
    display: flex;
    /* espaçamento do display flex */
    gap: 2rem;
    /* transformar todo o texto em MAIUSCULO */
    text-transform: uppercase;
    /* margem do lado direito 2rem (2 vexes 16 pixel ou o em definido no root) */
    margin-right: 2rem;
 }

 /* esse "a" so vai ser estilizado quando estiver dentro dos links da navbar */
 #navbar a {
    color: var(--primary-text-color);
    font-weight: bold;
    padding: 1rem;
 }

 /* banner slogan de propaganda  */
 .banner.active{ 
    /* banner ativo é mostrado */
    opacity: 1; 
    
 }
 .banner{
    /* limite da caixa 50% da margem */
    max-width: 45%;
    opacity: 0;
    padding: 4rem;
    position: absolute;
 }
 
 .banner h2{
    font-size: 4rem;
    margin-bottom: 1.2rem;
    /* position relative é relativo a caixa. */
    position: relative;
    /* o z-index define o eixo "z" de profundidade 3d na frente ou atrás */
    z-index: 2;
 }

 .banner p{
    font-size: 1.5rem;
 }
 /* fazer o design do quadrado logo abaixo do titulo principal Pearson Hardman */
.square{
    display: block;
    width: 150px;
    height: 150px;
    background-color: var(--main-color);
    /* RELATIVE - sempre em relação a caixa 
       ABSOLUTE - é em relação a um elemento especifico dentro da caixa */
    /* relativo a caixa , o position absolute no square faz com que o conteudo do banner adentre o square */
    position: absolute;
    left: 20px;
    top: 40px;
    z-index:1;
}

.dots{
    display:flex;
    gap: 2rem;
    /*position absolute em relação a header, pelo position absolute consegue mexer com as 4 posições cima, baixa, esquerda, direita */
    position: absolute;
    bottom: 9rem;
    left: 3rem;
}

.dot{
    width: 20px;
    height: 20px;
    background-color: var(--secondary-color);
}

.dot.active{
    background-color: var(--secondary-bg-color);
}